@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');
body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
html{
  scroll-behavior: smooth;
}
 
 #rootChild{
  width: 100vw;
  height: 100vh;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#puppyContainer{
 overflow: hidden;
 border-radius: 50%;
 height: 170px;
 width: 170px;
 border:3px dotted burlywood;
}
#puppy{
  transform: scale(2.3);
  position: relative;
  top: 15%;
}
#start{
  
  transform: translateY(20px);
  opacity: 0;
}
 
#start.showMe{
  opacity: 1;
  transform: translateY(0);
  transition: 0.4s linear;
}
#mainContent{
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
padding:1rem;
overflow-x: hidden;
  scroll-snap-type: y mandatory;
  
}
#mainContent.showMe{
  opacity: 1;
  transition: 0.4s linear;
  transform: translateY(0);
 
  
}
#mainContent::-webkit-scrollbar{
 width: 0;
}
.videoContainer{
  scroll-snap-align: start;
  height: 100vh;
  padding-top: 0.6rem;
  display: flex;
  

}

.myVideos{
  height: 90vh;
  display: block;
  
}
.feedback{
  position: absolute;
  right: -25%;
  z-index: 4;
  top: 20%;
  display: grid;
  text-align: center;
  align-items: center;
  
 

}
.feedback i{
  font-size: 1.5rem;
}
.title{
  position: absolute;
  top: 3%;
  left: 2%;
  color: white;
  z-index: 4;
 
}
@media screen and (max-width:768px){
  #mainContent{
 
    padding: 0;
  }
  .myVideos{
   
    height: 90vh;
  }
  .feedback{
    position: absolute;
    right: 9%;
    z-index: 4;
    top: 20%;
    color: white;
  
  }
  .title{
    left: 8%;
  }
 
}
