@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
html{
  scroll-behavior: smooth;
}
 
 #rootChild{
  width: 100vw;
  height: 100vh;
  background: url('https://www.toptal.com/designers/subtlepatterns/uploads/noise_lines.png');
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* HTML: <div class="loader"></div> */
 
.loader {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #f03355;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    animation: l1 2s infinite cubic-bezier(0.3,1,0,1);
    margin: 0 auto;
}
@keyframes l1 {
    33% {border-radius: 0;background: #514b82 ;clip-path: polygon(0 0,100% 0,100% 100%,0 100%)}
    66% {border-radius: 0;background: #ffa516 ;clip-path: polygon(50% 0,50% 0,100% 100%,0 100%)}
}
 
#start{
  
  transform: translateY(20px);
  opacity: 0;
  padding: 1rem;
  
}
 
#start.showMe{
  opacity: 1;
  transform: translateY(0);
  transition: 0.4s linear;
}
#mainContent{
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
padding:1rem;
overflow-x: hidden;
  scroll-snap-type: y mandatory; /* This is the property that moves child sections*/ 
   
  
}
#mainContent.showMe{
  opacity: 1;
  transition: 0.4s linear;
  transform: translateY(0);
 
  
}
#mainContent::-webkit-scrollbar{
 width: 0;
}
.videoContainer{
  scroll-snap-align: start;/* This is the property that takes cares aligning sections*/
  
  height: 100vh;
  
  display: flex;
  align-items: center;

}

.myVideos{
  height: 90vh;
  display: block;
  cursor: pointer;
  
}
.feedback{
  position: absolute;
  right: -25%;
  z-index: 4;
  top: 20%;
  display: grid;
  text-align: center;
  align-items: center;
  
 

}
.feedback i{
  font-size: 1.5rem;
}
.title{
  position: absolute;
  top: 3%;
  left: 2%;
  color: white;
  z-index: 4;

}
.title:hover{
  background-color: rgba(39, 38, 38, 0.47);
}
.desc{
  position: absolute;
  bottom: 15%;
  left: 2%;
  color: white;
 
   
}
.desc:hover{
  background-color: rgba(39, 38, 38, 0.47);
}
.desc h4{
  font-size: 1rem;
}
.desktopNavigation{
  position: sticky;
 
  top: 0;
  left: 95%;
  
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 40px;
  
  

}
@media screen and (min-width:1000px) {
  .desktopNavigation{
    display: flex;
  }
  
}


@media screen and (max-width:768px){
  #mainContent{
    background-color: black;
    padding: 0;
  }
  .myVideos{
    width: 100vw;
    
    height: 90vh;

  }
  .videoContainer{
    align-items: initial;
  }
  .desc{
    
    bottom: 22%;
  }
  .feedback{
    position: absolute;
    right: 6%;
    z-index: 4;
    top: 20%;
    color: white;
  
  }
  .title{
    left: 6%;
  }
 
   
 
}
